$navcolor: rgba(238, 238, 238, 0.4);
$fallback: #00b4db;
.NavProduct {
  position: fixed;
  height: 10rem;
  background: $navcolor;
  border: 0.2rem solid $navcolor;
  backdrop-filter: blur(10px);
  background: #00b4db; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    rgba(0, 131, 176, 0.4),
    rgba(0, 180, 219, 0.4)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    rgba(0, 131, 176, 0.4),
    rgba(0, 180, 219, 0.4)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  .NavProduct__h1{
    color: #eee;
  }
} 